
body{
    background-color: #363130; /* Color de fondo del body */
    margin: 0 !important ;
    padding: 0 !important ;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer; /* Indica que es interactivo */
  }
  
  button:focus {
    outline: none; /* Opcional: remueve el contorno de enfoque predeterminado y añade uno personalizado */
    /* Por ejemplo: box-shadow: 0 0 2px blue; */
  }
  
  button img {
    position: relative;
    top: 5px;
    display: block; /* Evita espacios extra debajo de la imagen */
  }

    nav{
    width: 100%; /* 100% del ancho de la pantalla */
    text-align: center; /* Centra el texto dentro del nav */
    background-color: #b83a03; /* Color de fondo del nav */
    height: 50px; /* Altura del nav */
}
nav ul{
    list-style: none; 
    padding-left: 0px; /* Elimina el padding izquierdo de la lista */
}



nav ul li{
    display: inline-block; /* Muestra los elementos de la lista en línea */
    color: #fff;
    text-align: left;
    padding-left: 15px;
    line-height: 50px; /* Centra verticalmente el texto dentro del nav */
    width: 200px; /* Ancho de cada elemento de la lista */

}
nav ul li:hover{
    background-color: #0a0a0a; /* Color de fondo al pasar el mouse por encima */
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    display: block; /* Hace que el enlace ocupe todo el espacio del elemento de la lista */
    font-size: 14px !important;
}

.sala_juegos:hover {
   opacity: 0.7; /* Cambia la opacidad al pasar el mouse por encima */
}

.funciones:hover {
    opacity: 0.7; /* Cambia la opacidad al pasar el mouse por encima */
}

.cantina:hover {
    opacity: 0.7; /* Cambia la opacidad al pasar el mouse por encima */
}

.mapa:hover {
    opacity: 0.7; /* Cambia la opacidad al pasar el mouse por encima */
} 

header{
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    padding: 10px;
}

.logo{
    position: relative; 
    left: 650px;
}

.redes{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.redes img{
    position: relative; 
    right:60%;
    top: 17%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.redes p{
    color: #fff; /* Color del texto */
    font-size: 15px; /* Tamaño de la fuente */
    margin: 0px; /* Elimina el margen del párrafo */
    position: relative;
    top: 0px; /* Ajusta la posición vertical del texto */
    bottom: 20px; /* Ajusta la posición vertical del texto */
    right: 20px;

}

.fa-magnifying-glass{
    color: #fff;
    font-size: 16px !important; /* Tamaño del icono */
    
}

